<h1>Congratulations, <%= @user.name %>!</h1>

<p>Your post, "<%= @post.title %>", has been successfully published on VueBlog.</p>

<p>You can view it here: [Link to post]</p>

<p>Thanks for contributing!</p>
